@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url("./fontello.css");
@import url(./normalize.css);

/* 숨김 콘텐츠 */
.a11y-hidden {
  background-color: yellow;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  visibility: hidden;
  clip: rect(0 0 0 0); /* for old version browser */
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
}
/* 스타일 초기화 */
/* 링크 스타일 */
a {
  text-decoration: none;
  color: inherit;
}
html{
  font-size: 10px;
}
body{
  font-family: 'Spoqa Han Sans', 'sans-serif';
  font-weight: 400;
  background-color: #fff;
  color: #181818;
  font-size: 1.4rem;
}
body *,
body *::before,
body *::after{
  box-sizing: border-box;
}
/* 레이아웃 */
.container{
  background-color: silver;
}
.header, .visual, .main, .slogan, .footer-inner{
  width: 940px;
  margin: 0 auto;
}
/* 헤더 */
.header{
  background-color: #fff;
  position: relative;
  /*height: 10vh;*/
  border-radius: 0 0 15px 15px;
  padding: 0 30px;
}
/* 로고 */
.logo {
  position: absolute;
  /*background-color: yellow;*/
  margin-top: 0;
  top: 45px;
  left: 60px;
  z-index: 10;
}
.logo a {
  display: block;
  /*background-color: pink;*/
}
.logo img {
  /*display: block;*/
  vertical-align: middle;
}
/* 안내링크 */
.member {
  margin: 0;
  list-style: none;
  font-size: 0;
  text-align: right;
  padding-left: 0;
  padding-top: 2px;
  padding-bottom: 2px;
  position: relative;
  left: 10px;
}
.member a {
  display: inline-block;
  padding: 8px 10px;
  text-transform: uppercase;
}
.member li {
  /*background-color: yellow;*/
  display: inline-block;
  font-size: 1.4rem;
  padding-top: 2px;
  padding-bottom: 2px;
}
.member li:last-child a {
  /*padding-right: 0;*/
}
.navigation {
  padding-bottom: 40px;
}
.menu {
  background: #e25a2d linear-gradient(to bottom, orangered 0%, orange 45%, orange 60%, orangered 100%);
  padding-left: 225px;
  margin: 0;
  list-style: none;
  box-shadow: 0 -2px 0 0 black;
  border-radius: 0 0 5px 5px;
  height: 45px;
  /*border-top: 2px solid #000;*/
}
.menu :focus{
  outline: 0;
}
.menu-item {
  position: relative;
  float: left;
  border-left: 2px solid #fff;
}
.menu-button {
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  display: block;
  padding: 0 20px;
  line-height: 45px;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
}
.menu-act .menu-button {
  color: #ff0;
  /*border-bottom: 2px solid #000;*/
}
.menu-act .menu-button::after {
  content: "";
  display: block;
  border-top: 2px solid black;
}
.sub-menu {
  padding-left: 0;
  margin: 0;
  list-style: none;
  position: absolute;
  top: 47px;
  white-space: nowrap;
  display: none;
}
.sub-menu1 {
  display: block;
}
.sub-menu1,
.sub-menu2,
.sub-menu3 {
  left: 0;
}
.sub-menu4,
.sub-menu5,
.sub-menu6 {
  right: 0;
  display: none;
}
.sub-menu li, .sub-menu a {
  display: inline-block;
}

.sub-menu1 a {
  padding: 10px 10px 10px 0;
}
/* 비주얼 */
@keyframes textAni {
  0% {
    font-size: 10px;
    color: rgba(0, 0, 0, 0);
    transform: translate(0, 0);
  }
  100% {
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    transform: translate(400px, 75px);
  }
}
@keyframes flowerAni {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.visual {
  background-color: lime;
  height: 120px;
  position: relative;
}
.visual::before,
.visual::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  /*animation-name: flowerAni;*/
  /*animation-duration: 2s;*/
  /*animation-iteration-count:f infinite;*/
  /*animation-direction: alternate;*/
  animation: flowerAni 2s infinite alternate;
}
.visual::before {
  background-image: url("./images/ani_flower_01.png"),
                    url("./images/ani_flower_02.png");
  background-position: 0 -10px, 670px 0;
  /*background: url("./images/ani_flower_01.png") no-repeat 0 -10px, pink url("./images/ani_flower_02.png") no-repeat 670px 0;*/
}
.visual::after {
  /*background-color: pink;*/
  background-image: url("./images/ani_flower_03.png"),
                    url("./images/ani_flower_04.png");
  background-position: 300px 10px, 800px 5px;
  animation-delay: 1s;
}
.visual-text {
  position: relative;
  z-index: 10;
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: yellow;
  margin: 0;
  animation-name: textAni;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  display: inline-block;
  width: auto;
}
.main{
  background-color: blue;
  display: flow-root;
  padding: 30px 15px;
  /* padding: 30px;
  display: flex;
  justify-content: space-between; */
}
.group{
  height: 60vh;
  float: left;
  margin: 0 15px;
}
.group1{
  background-color: pink;
  width: 250px;
  float: right;
}
.group2{
  background-color: skyblue;
  width: 380px;
}
.group3{
  background-color: orange;
  width: 190px;
}
.slogan{
  background-color: purple;
  height: 10vh;
}
.footer{
  background-color: tomato;
}
.footer-inner{
  background-color: gray;
  height: 10vh;
}