@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
@import url(./normalize.css);

html{
  font-size: 10px;
}
body{
  font-family: 'Spoqa Han Sans', 'sans-serif';
  font-weight: 400;
  background-color: #fff;
  color: #181818;
  font-size: 1.4rem;
}
body *,
body *::before,
body *::after{
  box-sizing: border-box;
}
/* 레이아웃 */
.container{
  background-color: silver;
}
.header, .visual, .main, .slogan, .footer-inner{
  width: 940px;
  margin: 0 auto;
}
/* 헤더 */
.header{
  background-color: #fff;
  /*height: 10vh;*/
}
.visual{
  background-color: lime;
  height: 10vh;
}
.main{
  background-color: blue;
  display: flow-root;
  padding: 30px 15px;
  /* padding: 30px;
  display: flex;
  justify-content: space-between; */
}
.group{
  height: 60vh;
  float: left;
  margin: 0 15px;
}
.group1{
  background-color: pink;
  width: 250px;
  float: right;
}
.group2{
  background-color: skyblue;
  width: 380px;
}
.group3{
  background-color: orange;
  width: 190px;
}
.slogan{
  background-color: purple;
  height: 10vh;
}
.footer{
  background-color: tomato;
}
.footer-inner{
  background-color: gray;
  height: 10vh;
}